<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.chocodiccionario"
    version   = "1.0.0">

<name>Chocodiccionario</name>

<description>
El Chocodiccionario.
</description>
<preference name="show-splash-screen-spinner" value="false" />
<icon src="icon.png" />

<author href="http://tobepublicidad.com" email="agencia@tobe.mx">
Tobe Publicidad
</author>
<access origin="http://www.chocodiccionario.com/" subdomains="true"/>

</widget>
